---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout title="Inicio">
    <section>
        <h2 class="section-title neon-blue">>> SOBRE MÍ</h2>
        <div class="panel panel-blue">
            <p>
                Estudiante de 4to año de Ingeniería Civil en Bioinformática.
                Entusiasta de los servidores Linux, el hardware y la desconexión
                digital. Contruyendo proyectos con arduino y ESP32 (IoT).
            </p>
        </div>
    </section>

    <section style="margin-top: 60px;">
        <h2 class="section-title neon-orange">>> Proyectos</h2>

        <div style="display: grid; gap: 24px;">
            <ProjectCard
                titulo="SPEEDCUBING PWA"
                descripcion="Desarrollo de una aplicación web progresiva y cronómetro de precisión para competencias de speedcubing."
                tags={["Rust", "HTMX", "Web Workers", ""]}
                color="orange"
                icono="⏱️"
            />

            <ProjectCard
                titulo="THE WARDEN"
                descripcion="Monitor ambiental y sistema de arranque remoto para infraestructura de Home Lab."
                tags={["ESP32", "C++", "Telegram Bot API"]}
                color="blue"
                icono="⚡"
            />

            <ProjectCard
                titulo="NEEDLEMAN-WUNSCH"
                descripcion="Implementación nativa del algoritmo de alineamiento de secuencias bioinformáticas."
                tags={["C++", "Bioinformática", "Algoritmos", "graphviz"]}
                color="orange"
                icono="🧬"
            />
            <ProjectCard
                titulo="NAS"
                descripcion="NAS constuido con un pc antiguo, alojando contenedores Docker."
                tags={[
                    "Portainer",
                    "Komga",
                    "Navidrome",
                    "Jdownloader",
                    "Tailscale",
                    "Samba",
                ]}
                color="orange"
                icono="☁️ 📁"
            />
        </div>
    </section>
</Layout>
